{% extends "common.html" %}
    {% block title %}My Account{% endblock title %}
    {% block content %}
        {% load static %}

        <section class="row my-4">
            {% if userprofile %} 
            {% for profile in userprofile %}
                <div class="shadow border col-sm-12 col-md-4 pt-3" style="height: auto; margin: auto;">
                        <div class=" container-fluid d-flex py-4">
                            <div class=" border border-primary rounded-circle " style="height: 100px; width: 100px;">
                                {% if profile.displayPicture %}
                                <img src="{{profile.displayPicture}}" alt="{{profile.user.username}}" width="100px" height="100px"/>
                                {% else %}
                                <img src="" alt="{{profile.user.username}}" width="100px" height="100px"/>
                                {% endif %}
                            </div>
                            <h5 class="align-self-center mx-3">Account Details</h5>
                            
                        </div>
                        <table class="table">
                            <tbody>
                                <tr>
                                {% if profile.staff == 1 %}
                                <td class="py-3" style="width: 150px;">Staff ID:</td>
                                <td class="py-3" >Barb-00{{profile.user_id}}</td>
                                {% else %}
                                <td class="py-3" style="width: 150px;">Account ID:</td>
                                <td class="py-3">Barb-00{{profile.user_id}}</td>
                                {% endif %}
                                </tr>
                                <tr>
                                <td class="py-3" style="width: 150px;">Username:</td>
                                <td class="py-3">{{profile.user.username}}</td>
                                </tr>
                                <tr>
                                <td class="py-3" style="width: 150px;">Account Name:</td>
                                <td class="py-3">{{profile.user.first_name}} {{profile.user.last_name}}</td>
                                </tr>
                                <tr>
                                <td class="py-3" style="width: 150px;">Email:</td>
                                <td class="py-3">{{profile.user.email}}</td>
                                </tr>
                                <tr>
                                <td class="py-3" style="width: 150px;">Phone:</td>
                                <td class="py-3">{{profile.phone_number}}</td>
                                </tr>
                                <tr>
                                <td class="py-3" style="width: 150px;">Address:</td>
                                <td class="py-3">{{profile.address}}</td>
                                </tr>
                                {% if request.user.is_superuser or request.user.is_staff %}
                                <tr>
                                    <td class="py-3" style="width: 150px;">Department:</td>
                                    <td class="py-3">{{profile.department}}</td>
                                </tr>
                                {% endif %}
                               
                            </tbody>
                        </table>
                    
                    <div class= "field">
                        <div class ="control d-flex justify-content-center gap-2 py-4">
                            {% if request.user.is_superuser %}
                            <a href="{% url "edit_admin" profile.user_id %}">
                                <button type="submit" class="btn btn-primary">
                                    Edit account
                                </button>
                            </a> 

                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal_{{profile.user_id}}">
                                {% if profile.user.is_active == 1 %}
                                Deactivate
                                {% else %}
                                Activate
                                {% endif %}   
                            </button>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal_{{profile.user_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">                                {% if profile.user.is_active == 1 %}
                                        Deactivate Account
                                        {% else %}
                                        Activate Account
                                        {% endif %}</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Click on confirm to proceed
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <a href="{% url "deactivate-user" profile.user_id %}"><button type="button" class="btn btn-primary">Confirm</button></a>
                                    </div>
                                </div>
                                </div>
                            </div>
                            
                            {% else %}
                            <a href="{% url "edit_user" profile.user_id %}">
                                <button type="submit" class="btn btn-primary">
                                    Edit account
                                </button>
                            </a> 
                            {% endif %} 
                        </div>
                        <p>
                            <span class="text-primary">
                                {% for message in messages %}
                                <div class="alert {{ message.tags }} mb-4" role="alert">
                                {{ message }}
                                </div>
                                {% endfor %} 
                            </span>
                        </p>
                    </div>
                </div>
                
                {% endfor %} {% endif %}
            </section>
    {% endblock %}