{% extends "common.html" %}
    {% block title %}All Bookings{% endblock title %}
    {% block content %}
        {% load static %}


    <section class="" style="margin-top: 10vh;">
        <div class="" style="padding-top: 5vh;">
            <div class=''>
                <div class="">
                    <div class="flex items-center justify-between">
                        <div class="widget-label">
                            <table class="table table-striped table-hover mx-auto px-auto">
                                <thead style="background-color:#969cad">
                                    <th>Booking ID</th>
                                    <th>Profile</th>
                                    <th>booking</th>
                                    <th>Booking Date</th>
                                    <th>Booking Time</th>
                                    <th>Approved Date</th>
                                    <th>Approved Time</th>
                                    <th>Status</th>
                                    <th>Info</th>
                                    <th>Payment Status</th>
                                    {% if request.user.is_staff %}
                                    <th>Admin Response</th>
                                    {% endif %}
                                    <th>Delete</th>
                                </thead>
                                {% if bookings %}
                                    {% for booking in bookings %}
                                    <tr>
                                        <td>
                                            <span style="color: #969cad;" class= "fw-bold">
                                                #-00{{booking.booking_id}}
                                            </span>
                                        </td>
                                        <td>
                                            <a href="{% url "my_account" booking.user.id %}" class='text-decoration-none'>
                                                <span style="color: #0e399c;" class= "fw-bold">
                                                    ID-0{{booking.user.id}}
                                                </span>
                                            </a>
                                        </td>
                                        <td>
                                            <span style="color: #969cad;" class= "fw-bold">
                                                {{booking.service.name}}
                                            </span>
                                        </td>
                                        <td>
                                            <span style="color: #969cad;" class= "fw-bold">
                                                {{booking.booking_date}}
                                            </span>
                                        </td>
                                        <td>
                                            <span style="color: #969cad;" class= "fw-bold">
                                                {{booking.booking_time}}
                                            </span>
                                        </td>
                                        <td>
                                            <span style="color: #969cad;" class= "fw-bold">
                                                {{booking.approved_date}}
                                            </span>
                                        </td>
                                        <td>
                                            <span style="color: #969cad;" class= "fw-bold">
                                                {{booking.approved_time}}
                                            </span>
                                        </td>                                      
                                        <td>
                                            {% if booking.status == 'Pending' %}
                                            <span class= "fw-bold text-warning">
                                                {{booking.status}}
                                            </span>
                                            {% elif booking.status == 'Confirmed' %}
                                            <span class= "fw-bold text-primary">
                                                {{booking.status}}
                                            </span>
                                            {% elif booking.status == 'Completed' %}
                                            <span class= "fw-bold text-success">
                                                {{booking.status}}
                                            </span>
                                            {% elif booking.status == 'Cancelled' %}
                                            <span class= "fw-bold text-danger">
                                                {{booking.status}}
                                            </span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if booking.notes %}
                                            <span style="color: #969cad;" class= "fw-bold">
                                                {{booking.notes}}
                                            </span>
                                            {% else %}
                                            <span style="color: #969cad;" class= "fw-bold">
                                                Awaiting Response
                                            </span>
                                            {% endif %}
                                        </td>
                                        {% if booking.payment_status %}
                                        <td>
                                            <span  class= "fw-bold btn btn-primary text-white">
                                                Paid
                                            </span>
                                        </td>
                                        {% else %}
                                        <td>
                                            <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModalPayment_{{booking.booking_id}}" class='text-decoration-none animate__animated animate__flash animate__infinite infinite'>
                                                <span  class= "fw-bold btn btn-warning text-white">
                                                    Make Payment
                                                </span>
                                            </a>
                                        </td>
                                        <!-- Modal for Payment -->
                                        <div class="modal fade" id="exampleModalPayment_{{booking.booking_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Make Payment</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                Proceed to make payment for {{booking.service.name}}
                                                </div>
                                                <input type="text" class="" id="booking_price_{{booking.booking_id}}" value="{{booking.service.price}}">
                                                <div class="modal-footer">
                                                <a type="button" class="btn btn-white" data-bs-dismiss="modal">Cancel</a>
                                                <button onclick="makePayment({{booking.booking_id}})" class="btn btn-primary">Pay Now</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% if request.user.is_staff %}
                                        <td>
                                            <a href="{% url "admin_response" booking.booking_id %}" class='text-decoration-none'>
                                                <span  class= "fw-bold btn btn-primary text-white">
                                                    Respond
                                                </span>
                                            </a>
                                        </td>
                                        {% endif %}
                                        <td>
                                            <a type="button" class='text-decoration-none' data-bs-toggle="modal" data-bs-target="#exampleModal_{{booking.booking_id}}" >
                                                <span class= "fw-bold btn btn-danger text-white">
                                                    Delete
                                                </span>
                                            </a>
                                        </td>
                                      
                                        <!-- Modal for Delete -->
                                        <div class="modal fade" id="exampleModal_{{booking.booking_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Booking</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                About to delete {{booking.service.name}}
                                                </div>
                                                <div class="modal-footer">
                                                <a type="button" class="btn btn-white" data-bs-dismiss="modal">Close</a>
                                                <a href="{% url "delete_booking" booking.booking_id %}" class="btn btn-danger">Delete</a>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </tr>
                                    {% endfor %}
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        function makePayment(bookingId) {
            var bookingPriceElement = document.getElementById('booking_price_' + bookingId);
            var bookingPrice = bookingPriceElement ? bookingPriceElement.value : 'undefined';

            alert(typeof(bookingPrice));
                
            FlutterwaveCheckout({
            public_key: "FLWPUBK_TEST-02b9b5fc6406bd4a41c3ff141cc45e93-X",
            tx_ref: "txref-DI0NzMx13",
            amount: Number(bookingPrice),
            currency: "NGN",
            payment_options: "card, banktransfer, ussd",
            meta: {
                source: "docs-inline-test",
                consumer_mac: "92a3-912ba-1192a",
            },
            customer: {
                email: "test@mailinator.com",
                phone_number: "08100000000",
                name: "Ayomide Jimi-Oni",
            },
            customizations: {
                title: "Flutterwave Developers",
                description: "Test Payment",
                logo: "https://checkout.flutterwave.com/assets/img/rave-logo.png",
            },
            callback: function (data){
                console.log("payment callback:", data);
            },
            onclose: function() {
                console.log("Payment cancelled!");
            }
            });
        }
    </script>
    {% endblock %}