{% extends "common.html" %}
    {% block title %}Password reset form{% endblock title %}
    {% block content %}
    {% load static %}

    <section class="container border mt-5 col-lg-4 p-4 bg-light shadow" style="height: auto;">
        <h3 class="text-center fw-bold">RESET PASSWORD</h3>
        <p class=''>Please enter your email address to recieve the password reset link</p>
        <form method='post'>
            {% csrf_token %}
            {% load bootstrap %}
            {{form |bootstrap}}

            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </section>
    {% endblock %}